In [15]:
import os
import pandas as pd
import sqlite3
from sqlalchemy import create_engine

In [21]:
conn = sqlite3.connect('DatabaseVBtest.db')
engine = create_engine('sqlite:///DatabaseVBtest.db')
posdirectory = './Input/Posrecon'
tradedirectory = './Input/Traderecon'

for file in os.listdir(posdirectory):
    df = pd.read_csv(posdirectory+'/'+file)
    df.to_sql('Posrecon', if_exists = "append", con = conn)
    
for file in os.listdir(tradedirectory):
    df = pd.read_csv(tradedirectory+'/'+file)
    df.to_sql('Posrecon', if_exists = "append", con = conn)

c:\users\ismet\appdata\local\programs\python\python38-32\lib\site-packages\pandas\core\generic.py:2602: UserWarning: The spaces in these column names will not be changed. In pandas versions < 0.14, spaces were converted to underscores.
  sql.to_sql(

In [35]:
pd.read_sql('''
SELECT sum("Waarde EUR") as "som van waarde" FROM POSRECON where RekNr = 5
''', con = engine)

   som van waarde
0     235350720.0